
//== Font

$font-family:           "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size:             16px;
$font-height:           1.5;

//== Color

$color-foreground:      #ac0d0d;
$color-background:      #741c7c;
$color-link:            #237738;

//== Grid

$max_col: 12;
